body {  /* sys fonts */
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

a {
  text-decoration: none;
  color: #d0021b;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;      /* removes bulletpoints */
}

.container {
  max-width: 1200px;
  margin: 0 auto;             /* centers everything inside of it */
}

.row {
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.column input {
  border: 1px solid rgba(0, 0, 0, 0.43);
  border-radius: 3px;
  font-size: 16px;
  margin: 10px 0;
  padding: 5px;
  width: 80%;
}

.column label{
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.header {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.languages {
  display: flex;              /* displays items horizontally */
  justify-content: center;    /* center all items horizontally */
}

.languages li{
  margin: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;            /* creates grid effect for us */
  justify-content:            /* will add space around indi items in list */
    space-around;
}

.space-list-items {
  margin-bottom: 7px;
}

.avatar {
  width: 150px;
  border-radius: 50%;
}

.popular-rank {
  font-size: 20px;
  margin: 13px;
}

.nav {
  display: flex;
}

.active {
  font-weight: bold;
}

.nav li {
  margin-right: 15px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #0282d0;
}

.home-image {
  margin-bottom: 12px;
}

.button {
  color: #e6e6e6;
  background: #0282d0;
  /*background: #0a0a0a;*/
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.button:hover:enabled {
  background:
    /*linear-gradient(#1a1a1a, #0a0a0a);*/
    linear-gradient(#0282d0, #02d050);
    color: white;
    text-decoration: none;
}

.button:active {
  transform: translate(1px);  /* moves 1px to give sense that btn was clicked */
}
